.fon {
    width: 150%;
    height: 550px;
    margin: 40px 0px 10px 0px;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(214, 11, 11);
    text-align: right;
    justify-content: center;
    display: flex;
    position: relative;
    top: 60px;
}

p {
    font-size: 10px;
    text-align: left;
    width: 400px;
}

h1 {
    font-size: 30px;
    text-align: left;
    width: 400px;
}


.container {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 60px;
    text-align: center;
    justify-content: center;
}

.icon {
    position: absolute;
    justify-content: left;
}

.icon i {
    width: 30px;
    height: 15px;
}

.container1 {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    position: absolute;
    right: 60px;

}